body{
    /* background-color: rgb(91, 72, 199); */
    background-image: linear-gradient(white,rgb(111, 238, 65));
    height: 98vh;
}

.logo{
    display: block;
    margin: auto;
    height: 60px;
    width: 110px;
}
h1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 12px;
    text-align: center;
}

.container{
    /* background-color: red; */
    border: 2px solid black;
    border-radius: 10px;
    padding: 33px;
    max-width: 900px;
    margin: auto;
    height: 60vh;
    overflow-y: auto;   /* Bcoz there will be many messages so we can scroll*/
    margin-bottom: 23px;
}

.message{
    background-color: rgb(233, 230, 230);
    width: 25%;
    margin: 17px 7px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}

#send-container{
    text-align: center;
    /* max-width: 1000px; */
    /* display: block; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#msgInp{
    width: 60%;       /*92%*/
    border: 2px solid black;
    border-radius: 7px;
    height: 30px;
    font-size: 20px;
}
.btn{
    border: 2px solid black;
    border-radius: 7px;
    height: 32px;
    width: 4%;
    cursor: pointer;
    margin: 0px 5px;
}